In [1]:
# Trabalho sobre Pré-Processamento
# Aluno: Matheus Pedroza
# Professor(a): Aline Marques del Vale
# Curso: Ciências da Computação
# Disciplina: Inteligência Artificial


#------------------- Pergunta 1: Crie um dataframe contendo apenas o seu tipo de imóveis. -------------------------------
#------------------------------- Ajuste os rótulo de linhas do dataframe.------------------------------------------------

#importação da biblioteca pandas

import pandas as pd

In [2]:
# Fazendo a exportação da base de dados 

dfShopping = pd.read_csv('aluguel.csv', sep=";")
dfShopping

,Tipo,Bairro,Quartos,Vagas,Suites,Area,Valor,Condominio,IPTU
0,Quitinete,Copacabana,1,0,0,40,1700.0,500.0,60.0
1,Casa,Jardim Botânico,2,0,1,100,7000.0,NaN,NaN
2,Conjunto Comercial/Sala,Barra da Tijuca,0,4,0,150,5200.0,4020.0,1111.0
3,Apartamento,Centro,1,0,0,15,800.0,390.0,20.0
4,Apartamento,Higienópolis,1,0,0,48,800.0,230.0,NaN
...,...,...,...,...,...,...,...,...,...
32955,Quitinete,Centro,0,0,0,27,800.0,350.0,25.0
32956,Apartamento,Jacarepaguá,3,1,2,78,1800.0,800.0,40.0
32957,Apartamento,São Francisco Xavier,2,1,0,48,1400.0,509.0,37.0
32958,Apartamento,Leblon,2,0,0,70,3000.0,760.0,NaN
32959,Conjunto Comercial/Sala,Centro,0,0,0,250,6500.0,4206.0,1109.0

In [3]:
#Separando apenas pelo Tipo utilizado para o trabalho, no caso Loja Shopping/ Ct Comercial

dfdataframe = dfShopping.loc[dfShopping["Tipo"] == "Loja Shopping/ Ct Comercial"]
dfdataframe

,Tipo,Bairro,Quartos,Vagas,Suites,Area,Valor,Condominio,IPTU
589,Loja Shopping/ Ct Comercial,Barra da Tijuca,0,2,0,88,2500.0,4500.0,1544.0
594,Loja Shopping/ Ct Comercial,Ipanema,0,2,0,25,5000.0,NaN,150.0
606,Loja Shopping/ Ct Comercial,Jacarepaguá,0,1,0,61,4500.0,1.0,NaN
618,Loja Shopping/ Ct Comercial,Barra da Tijuca,0,1,0,81,2500.0,2548.0,727.0
680,Loja Shopping/ Ct Comercial,Barra da Tijuca,0,0,0,34,2700.0,1047.0,326.0
...,...,...,...,...,...,...,...,...,...
31853,Loja Shopping/ Ct Comercial,Barra da Tijuca,0,1,0,38,1300.0,1190.0,642.0
32065,Loja Shopping/ Ct Comercial,Copacabana,0,0,0,29,1500.0,560.0,101.0
32226,Loja Shopping/ Ct Comercial,Centro,0,0,0,37,8000.0,NaN,160.0
32293,Loja Shopping/ Ct Comercial,Centro,0,0,0,37,7500.0,NaN,578.0
32927,Loja Shopping/ Ct Comercial,Barra da Tijuca,0,1,0,42,1950.0,500.0,1550.0

In [4]:
#Ajustando Rótulos de linhas e colunas

linhas = list(range(247))
linhas

[0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99,
 100,
 101,
 102,
 103,
 104,
 105,
 106,
 107,
 108,
 109,
 110,
 111,
 112,
 113,
 114,
 115,
 116,
 117,
 118,
 119,
 120,
 121,
 122,
 123,
 124,
 125,
 126,
 127,
 128,
 129,
 130,
 131,
 132,
 133,
 134,
 135,
 136,
 137,
 138,
 139,
 140,
 141,
 142,
 143,
 144,
 145,
 146,
 147,
 148,
 149,
 150,
 151,
 152,
 153,
 154,
 155,
 156,
 157,
 158,
 159,
 160,
 161,
 162,
 163,
 164,
 165,
 166,
 167,
 168,
 169,
 170,
 171,
 172,
 173,
 174,
 175,
 176,
 177,
 178,
 179,
 180,
 181,
 182,
 183,
 184,
 185,
 186,
 187,
 188,
 189,
 190,
 191,
 192,
 193,
 194,
 195,
 196,
 197,
 198,
 199,
 200,
 201,
 202,
 203,
 204,
 205,
 206,
 207,
 208,
 209,
 210,
 211,
 212,
 213,
 214,
 215,
 216,
 217,
 218,
 219,
 220,
 221,
 222,
 223,
 224,
 225,
 226,
 227,
 228,
 229,
 230,
 231,
 232,
 233,
 234,
 235,
 236,
 237,
 238,
 239,
 240,
 241,
 242,
 243,
 244,
 245,
 246]

In [5]:
#Ajustando Rótulos de linhas e colunas

dfdataframe.index = linhas
dfdataframe

,Tipo,Bairro,Quartos,Vagas,Suites,Area,Valor,Condominio,IPTU
0,Loja Shopping/ Ct Comercial,Barra da Tijuca,0,2,0,88,2500.0,4500.0,1544.0
1,Loja Shopping/ Ct Comercial,Ipanema,0,2,0,25,5000.0,NaN,150.0
2,Loja Shopping/ Ct Comercial,Jacarepaguá,0,1,0,61,4500.0,1.0,NaN
3,Loja Shopping/ Ct Comercial,Barra da Tijuca,0,1,0,81,2500.0,2548.0,727.0
4,Loja Shopping/ Ct Comercial,Barra da Tijuca,0,0,0,34,2700.0,1047.0,326.0
...,...,...,...,...,...,...,...,...,...
242,Loja Shopping/ Ct Comercial,Barra da Tijuca,0,1,0,38,1300.0,1190.0,642.0
243,Loja Shopping/ Ct Comercial,Copacabana,0,0,0,29,1500.0,560.0,101.0
244,Loja Shopping/ Ct Comercial,Centro,0,0,0,37,8000.0,NaN,160.0
245,Loja Shopping/ Ct Comercial,Centro,0,0,0,37,7500.0,NaN,578.0
246,Loja Shopping/ Ct Comercial,Barra da Tijuca,0,1,0,42,1950.0,500.0,1550.0

In [6]:
# ---------------------------- Pergunta 2: Criando seleções ------------------------------------------------------------

# 1° Seleção
# Selecionar Shoppings presentes no bairro "Barra da Tijuca"

bol = dfdataframe['Bairro'] == 'Barra da Tijuca'
bol

0       True
1      False
2      False
3       True
4       True
       ...
242     True
243    False
244    False
245    False
246     True
Name: Bairro, Length: 247, dtype: bool

In [7]:
# 2° Seleção
# Selecionar todos os Shopping que possuam Área maior que 50m2 e menor que 90m2 icluído

bol = (dfdataframe['Area'] >= 50) & (dfdataframe['Area'] <= 90)
dfdataframe[bol]

,Tipo,Bairro,Quartos,Vagas,Suites,Area,Valor,Condominio,IPTU
0,Loja Shopping/ Ct Comercial,Barra da Tijuca,0,2,0,88,2500.0,4500.0,1544.0
2,Loja Shopping/ Ct Comercial,Jacarepaguá,0,1,0,61,4500.0,1.0,NaN
3,Loja Shopping/ Ct Comercial,Barra da Tijuca,0,1,0,81,2500.0,2548.0,727.0
5,Loja Shopping/ Ct Comercial,Barra da Tijuca,0,1,0,50,2900.0,1830.0,993.0
7,Loja Shopping/ Ct Comercial,Barra da Tijuca,0,2,0,84,5500.0,995.0,420.0
...,...,...,...,...,...,...,...,...,...
217,Loja Shopping/ Ct Comercial,Botafogo,0,0,0,70,2400.0,602.0,380.0
226,Loja Shopping/ Ct Comercial,Curicica,0,1,0,62,1800.0,1320.0,136.0
229,Loja Shopping/ Ct Comercial,Barra da Tijuca,0,1,0,50,490.0,1250.0,500.0
232,Loja Shopping/ Ct Comercial,Jacarepaguá,0,1,0,81,1200.0,1800.0,200.0
235,Loja Shopping/ Ct Comercial,Barra da Tijuca,0,1,0,62,5000.0,4847.0,540.0

In [8]:
#3° Seleção

# Selecionar todos os Shopping que possuam n° de quartos = 0 e vagas = 2

bol = (dfdataframe['Quartos'] == 0) & (dfdataframe['Vagas'] == 2)
dfdataframe[bol]

,Tipo,Bairro,Quartos,Vagas,Suites,Area,Valor,Condominio,IPTU
0,Loja Shopping/ Ct Comercial,Barra da Tijuca,0,2,0,88,2500.0,4500.0,1544.0
1,Loja Shopping/ Ct Comercial,Ipanema,0,2,0,25,5000.0,NaN,150.0
7,Loja Shopping/ Ct Comercial,Barra da Tijuca,0,2,0,84,5500.0,995.0,420.0
13,Loja Shopping/ Ct Comercial,Barra da Tijuca,0,2,0,77,100.0,3600.0,1300.0
76,Loja Shopping/ Ct Comercial,Barra da Tijuca,0,2,0,69,2800.0,1455.0,400.0
79,Loja Shopping/ Ct Comercial,Barra da Tijuca,0,2,0,121,10000.0,1080.0,9694.0
86,Loja Shopping/ Ct Comercial,Barra da Tijuca,0,2,0,32,2500.0,1754.0,710.0
116,Loja Shopping/ Ct Comercial,Recreio dos Bandeirantes,0,2,0,25,4850.0,NaN,NaN
124,Loja Shopping/ Ct Comercial,Barra da Tijuca,0,2,0,80,1000.0,2261.0,533.0
144,Loja Shopping/ Ct Comercial,Barra da Tijuca,0,2,0,70,3800.0,1200.0,1200.0
166,Loja Shopping/ Ct Comercial,Barra da Tijuca,0,2,0,77,NaN,3600.0,1390.0
167,Loja Shopping/ Ct Comercial,Barra da Tijuca,0,2,0,80,2990.0,1097.0,790.0
180,Loja Shopping/ Ct Comercial,Barra da Tijuca,0,2,0,180,30000.0,1.0,1.0
221,Loja Shopping/ Ct Comercial,Barra da Tijuca,0,2,0,32,1000.0,1750.0,710.0

In [9]:
#4° Seleção

# Selecionar todos os Shopping que possuam valor acima ou igual a 10000.0 ou que possuam área menor ou igual a 100

bol = ((dfdataframe['Valor'] >= 10000.0)) | ((dfdataframe['Area'] <= 100))
dfdataframe[bol]

,Tipo,Bairro,Quartos,Vagas,Suites,Area,Valor,Condominio,IPTU
0,Loja Shopping/ Ct Comercial,Barra da Tijuca,0,2,0,88,2500.0,4500.0,1544.0
1,Loja Shopping/ Ct Comercial,Ipanema,0,2,0,25,5000.0,NaN,150.0
2,Loja Shopping/ Ct Comercial,Jacarepaguá,0,1,0,61,4500.0,1.0,NaN
3,Loja Shopping/ Ct Comercial,Barra da Tijuca,0,1,0,81,2500.0,2548.0,727.0
4,Loja Shopping/ Ct Comercial,Barra da Tijuca,0,0,0,34,2700.0,1047.0,326.0
...,...,...,...,...,...,...,...,...,...
242,Loja Shopping/ Ct Comercial,Barra da Tijuca,0,1,0,38,1300.0,1190.0,642.0
243,Loja Shopping/ Ct Comercial,Copacabana,0,0,0,29,1500.0,560.0,101.0
244,Loja Shopping/ Ct Comercial,Centro,0,0,0,37,8000.0,NaN,160.0
245,Loja Shopping/ Ct Comercial,Centro,0,0,0,37,7500.0,NaN,578.0
246,Loja Shopping/ Ct Comercial,Barra da Tijuca,0,1,0,42,1950.0,500.0,1550.0

In [10]:
# 5° Seleção

# Selecionar todos os Shopping do Centro ou da Copacabana que tenham Valor de IPTU maior ou igual a 500

bol = ((dfdataframe['Bairro'] == "Centro") | (dfdataframe['Bairro'] == "Copacabana")) & (dfdataframe['IPTU'] >= 500)
dfdataframe[bol]

,Tipo,Bairro,Quartos,Vagas,Suites,Area,Valor,Condominio,IPTU
74,Loja Shopping/ Ct Comercial,Copacabana,0,0,0,590,30000.0,20000.0,10000.0
85,Loja Shopping/ Ct Comercial,Centro,0,0,0,91,20000.0,NaN,1122.0
88,Loja Shopping/ Ct Comercial,Centro,0,0,0,179,5500.0,2960.0,560.0
109,Loja Shopping/ Ct Comercial,Centro,0,0,0,200,16000.0,NaN,800.0
127,Loja Shopping/ Ct Comercial,Copacabana,0,0,0,40,5000.0,1644.0,925.0
141,Loja Shopping/ Ct Comercial,Copacabana,0,0,0,98,3000.0,3141.0,1826.0
176,Loja Shopping/ Ct Comercial,Centro,0,0,0,170,7900.0,NaN,867.0
194,Loja Shopping/ Ct Comercial,Copacabana,0,1,0,210,18000.0,1530.0,12494.0
201,Loja Shopping/ Ct Comercial,Centro,0,0,0,79,18000.0,NaN,953.0
245,Loja Shopping/ Ct Comercial,Centro,0,0,0,37,7500.0,NaN,578.0

In [11]:
# ---------------------------- Pergunta 3: Chame o método info() para o novo dataframe, para que seja possível -------------
# ---------------------------------------- verificar quais atributos possuem dados faltantes. -----------------------------
#----------------------------------------- Para cada atributo com dados faltante gere um dataframe para exibi-los --------


dfdataframe.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 247 entries, 0 to 246
Data columns (total 9 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Tipo        247 non-null    object
 1   Bairro      247 non-null    object
 2   Quartos     247 non-null    int64
 3   Vagas       247 non-null    int64
 4   Suites      247 non-null    int64
 5   Area        247 non-null    int64
 6   Valor       246 non-null    float64
 7   Condominio  211 non-null    float64
 8   IPTU        207 non-null    float64
dtypes: float64(3), int64(4), object(2)
memory usage: 19.3+ KB

In [12]:
# Pergunta 4: Proponha 2 possíveis transformações para o dataframe utilizando os métodos apply() e/ou map().

#Função para retornar "sem vagas" quando valor for = 0 e retornar "há vagas" para valor = 1

def QuartosVagas(qv):
    if qv == 0:
        return "Sem vagas"
    else:
        return "Há vagas"

In [13]:
QuartosVagas(0)

'Sem vagas'

In [14]:
dfdataframe['Vagas'] = dfdataframe['Vagas'].apply(QuartosVagas)
dfdataframe

<ipython-input-14-617a93a12b55>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dfdataframe['Vagas'] = dfdataframe['Vagas'].apply(QuartosVagas)

,Tipo,Bairro,Quartos,Vagas,Suites,Area,Valor,Condominio,IPTU
0,Loja Shopping/ Ct Comercial,Barra da Tijuca,0,Há vagas,0,88,2500.0,4500.0,1544.0
1,Loja Shopping/ Ct Comercial,Ipanema,0,Há vagas,0,25,5000.0,NaN,150.0
2,Loja Shopping/ Ct Comercial,Jacarepaguá,0,Há vagas,0,61,4500.0,1.0,NaN
3,Loja Shopping/ Ct Comercial,Barra da Tijuca,0,Há vagas,0,81,2500.0,2548.0,727.0
4,Loja Shopping/ Ct Comercial,Barra da Tijuca,0,Sem vagas,0,34,2700.0,1047.0,326.0
...,...,...,...,...,...,...,...,...,...
242,Loja Shopping/ Ct Comercial,Barra da Tijuca,0,Há vagas,0,38,1300.0,1190.0,642.0
243,Loja Shopping/ Ct Comercial,Copacabana,0,Sem vagas,0,29,1500.0,560.0,101.0
244,Loja Shopping/ Ct Comercial,Centro,0,Sem vagas,0,37,8000.0,NaN,160.0
245,Loja Shopping/ Ct Comercial,Centro,0,Sem vagas,0,37,7500.0,NaN,578.0
246,Loja Shopping/ Ct Comercial,Barra da Tijuca,0,Há vagas,0,42,1950.0,500.0,1550.0

In [15]:
# Dataframe para exibir os dados faltantes do atributo IPTU

dfdataframe[dfdataframe['IPTU'].isnull()]

,Tipo,Bairro,Quartos,Vagas,Suites,Area,Valor,Condominio,IPTU
2,Loja Shopping/ Ct Comercial,Jacarepaguá,0,Há vagas,0,61,4500.0,1.0,NaN
8,Loja Shopping/ Ct Comercial,Vila da Penha,0,Sem vagas,0,145,7000.0,NaN,NaN
10,Loja Shopping/ Ct Comercial,Santa Cruz,0,Há vagas,0,31,2100.0,715.0,NaN
25,Loja Shopping/ Ct Comercial,Centro,0,Sem vagas,0,50,1800.0,NaN,NaN
26,Loja Shopping/ Ct Comercial,Gávea,0,Sem vagas,0,60,12000.0,6500.0,NaN
30,Loja Shopping/ Ct Comercial,Botafogo,0,Sem vagas,0,30,1800.0,400.0,NaN
33,Loja Shopping/ Ct Comercial,Guadalupe,1,Sem vagas,0,53,2500.0,NaN,NaN
46,Loja Shopping/ Ct Comercial,Recreio dos Bandeirantes,0,Sem vagas,0,88,1500.0,780.0,NaN
67,Loja Shopping/ Ct Comercial,Leblon,0,Há vagas,0,1600,330000.0,10000.0,NaN
84,Loja Shopping/ Ct Comercial,Recreio dos Bandeirantes,0,Sem vagas,0,42,2500.0,NaN,NaN
87,Loja Shopping/ Ct Comercial,Vicente de Carvalho,0,Sem vagas,0,35,1900.0,NaN,NaN
89,Loja Shopping/ Ct Comercial,Barra da Tijuca,0,Há vagas,0,100,6500.0,1300.0,NaN
92,Loja Shopping/ Ct Comercial,Recreio dos Bandeirantes,0,Sem vagas,0,8,400.0,NaN,NaN
93,Loja Shopping/ Ct Comercial,Barra da Tijuca,0,Há vagas,0,35,1000.0,690.0,NaN
95,Loja Shopping/ Ct Comercial,Recreio dos Bandeirantes,0,Há vagas,0,34,1800.0,620.0,NaN
111,Loja Shopping/ Ct Comercial,Guadalupe,1,Sem vagas,0,58,4800.0,NaN,NaN
116,Loja Shopping/ Ct Comercial,Recreio dos Bandeirantes,0,Há vagas,0,25,4850.0,NaN,NaN
132,Loja Shopping/ Ct Comercial,Recreio dos Bandeirantes,0,Há vagas,0,0,1600.0,450.0,NaN
133,Loja Shopping/ Ct Comercial,Barra da Tijuca,0,Há vagas,0,61,4500.0,800.0,NaN
137,Loja Shopping/ Ct Comercial,Gávea,0,Sem vagas,0,122,13900.0,5200.0,NaN
145,Loja Shopping/ Ct Comercial,Recreio dos Bandeirantes,0,Há vagas,0,40,550.0,690.0,NaN
151,Loja Shopping/ Ct Comercial,Barra da Tijuca,0,Há vagas,0,150,6000.0,5612.0,NaN
155,Loja Shopping/ Ct Comercial,Barra da Tijuca,0,Há vagas,0,67,3300.0,2800.0,NaN
160,Loja Shopping/ Ct Comercial,Ricardo de Albuquerque,1,Sem vagas,0,24,450.0,NaN,NaN
163,Loja Shopping/ Ct Comercial,Barra da Tijuca,0,Há vagas,0,35,1100.0,690.0,NaN
173,Loja Shopping/ Ct Comercial,Irajá,0,Sem vagas,0,350,8000.0,NaN,NaN
178,Loja Shopping/ Ct Comercial,Centro,0,Sem vagas,0,380,11000.0,11700.0,NaN
191,Loja Shopping/ Ct Comercial,Vicente de Carvalho,0,Há vagas,1,25,1100.0,NaN,NaN
192,Loja Shopping/ Ct Comercial,Barra da Tijuca,0,Há vagas,0,68,2800.0,1500.0,NaN
196,Loja Shopping/ Ct Comercial,Recreio dos Bandeirantes,0,Sem vagas,0,20,550.0,NaN,NaN
198,Loja Shopping/ Ct Comercial,Gávea,0,Há vagas,0,45,3800.0,2000.0,NaN
200,Loja Shopping/ Ct Comercial,Campo Grande,0,Sem vagas,0,60,3500.0,NaN,NaN
208,Loja Shopping/ Ct Comercial,Campo Grande,0,Sem vagas,0,75,5500.0,1100.0,NaN
211,Loja Shopping/ Ct Comercial,Barra da Tijuca,0,Há vagas,0,40,1800.0,616.0,NaN
225,Loja Shopping/ Ct Comercial,Leblon,0,Há vagas,0,1629,430000.0,NaN,NaN
227,Loja Shopping/ Ct Comercial,Barra da Tijuca,0,Há vagas,0,22,1200.0,800.0,NaN
231,Loja Shopping/ Ct Comercial,Barra da Tijuca,0,Sem vagas,0,120,6000.0,2500.0,NaN
236,Loja Shopping/ Ct Comercial,Barra da Tijuca,0,Sem vagas,0,270,9500.0,2500.0,NaN
238,Loja Shopping/ Ct Comercial,Guadalupe,1,Sem vagas,0,41,800.0,NaN,NaN
240,Loja Shopping/ Ct Comercial,São Cristóvão,0,Há vagas,0,131,8000.0,350.0,NaN

In [16]:
#Foi optado para esta base de dados preencher todos os valores ausentes com 0 pois cada imóvel possui 
# valores iptu de acordo com outros fatores (area, localidade, etc.)

dfdataframe = dfdataframe.fillna(0)

In [17]:
dicionario = {'Barra da Tijuca':1, 'Botafogo':2, 'Centro':3, 'Campo Grande':4, 'Guadalupe':5, 'Gávea':6, 'Irajá':7, 'Jacarapaguá':8, 'Leblon':9, 'Ricardo de Albuquerque':10, 'Recreio dos Bandeirantes':11, 'Santa Cruz':12, 'São Cristovão':13, 'Vila da Penha':14}

In [18]:
dfdataframe['Bairro'] = dfdataframe['Bairro'].map(dicionario)
dfdataframe

,Tipo,Bairro,Quartos,Vagas,Suites,Area,Valor,Condominio,IPTU
0,Loja Shopping/ Ct Comercial,1.0,0,Há vagas,0,88,2500.0,4500.0,1544.0
1,Loja Shopping/ Ct Comercial,NaN,0,Há vagas,0,25,5000.0,0.0,150.0
2,Loja Shopping/ Ct Comercial,NaN,0,Há vagas,0,61,4500.0,1.0,0.0
3,Loja Shopping/ Ct Comercial,1.0,0,Há vagas,0,81,2500.0,2548.0,727.0
4,Loja Shopping/ Ct Comercial,1.0,0,Sem vagas,0,34,2700.0,1047.0,326.0
...,...,...,...,...,...,...,...,...,...
242,Loja Shopping/ Ct Comercial,1.0,0,Há vagas,0,38,1300.0,1190.0,642.0
243,Loja Shopping/ Ct Comercial,NaN,0,Sem vagas,0,29,1500.0,560.0,101.0
244,Loja Shopping/ Ct Comercial,3.0,0,Sem vagas,0,37,8000.0,0.0,160.0
245,Loja Shopping/ Ct Comercial,3.0,0,Sem vagas,0,37,7500.0,0.0,578.0
246,Loja Shopping/ Ct Comercial,1.0,0,Há vagas,0,42,1950.0,500.0,1550.0

In [20]:
dfdataframe.to_csv('minhabase.csv', index=False)